.products{
    background-image: url('/img/point.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}
.product{
    width: 100%;
    background-color: #F2F2F2;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 27px;
    padding-bottom: 48px;
    border-radius: 8px;
}
.button{
    border-radius: 25px!important;
    background-color: rgba(88, 189, 88, 0.897)!important;
    padding: 10px 35px 10px 35px!important;
    box-shadow: rgba(105, 235, 122, 0.473) 0px 12px 28px 0px, rgba(88, 167, 108, 0.267) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset!important;
    border-color: rgba(88, 189, 88, 0.897)!important;
}
.button:hover{
    color: white!important;
    background-color: rgba(42, 199, 42, 0.966)!important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 110px!important;
    padding-left: 110px!important;
    margin-right: auto;
    margin-left: auto;
}
.button1{
    border-radius: 25px;
    background-color: white;
    padding: 4px 20px 4px 20px;
    text-decoration: none;
    color: gray;
    font-size: 12px;
}
.button1:hover{
    color: black;
}
.image-part{
    width: 100%;
}
.col-lg-4{
    padding-bottom: calc(var(--bs-gutter-x))!important;
}
.little{
    font-size: 11px!important;
}
.gray{
    color: gray;
}
@media only screen and (max-width: 1200px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: 50px!important;
        padding-left: 50px!important;
    }
}
@media only screen and (max-width: 410px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: 30px!important;
        padding-left: 30px!important;
    }
    .button{
        padding: 13px 15px 13px 15px;
    }
}
.row1>* {
    padding-right: 0px!important;
    padding-left: 0px!important;
}